<div class="container">
    <div class="row">
        <div class="col">
            <div class="footer">
                <div class="row">
                    <div class="col">
                        <p>© Copyright 2020 - YorKeN - All right reserved</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Contact :</h5>
                    <a href="mailto:dethoor.axel@gmail.com"><img src="./assets/iconeMail.png" title="mon e-mail"></a>
                </div>
                <div class="col">
                    <h5>Suivez-moi :</h5>
                    <a href="https://github.com/YorKeN-git?tab=repositories"><img src="./assets/iconeGithub.png" title="mon GIT"></a>
                    <a href="https://www.linkedin.com/in/axel-dethoor-8b6019199/"><img src="./assets/iconeLinkedin.png" title="mon Linkedin"></a>
                </div>
            </div>
        </div>
    </div>
</div>