<div class="container">
    <h2> FAQ </h2>
    <div class="row">
        <p>Ici, vous trouverez tout ce qu'il faut savoir concernant les héros, monstres, armes.</p>
    </div>
    <!-- FAQ : But du Jeu -->
    <div class="row">
        <div class="accordion" id="faqOne">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                But du jeu
              </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqOne">
                    <div class="card-body">
                        Constituer une équipe de 5 Héros maximum et affronter une armée de 10 monstres maximum.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /FAQ : But du Jeu -->
    <!-- FAQ : Les Classes -->
    <div class="row">
        <div class="accordion" id="faqTwo">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Les classes
              </button>
                    </h5>
                </div>

                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#faqTwo">
                    <div class="card-body">
                        <p>Vous avez le choix entre 4 classes :</p>
                        <ul>
                            <li>Guerrier</li>
                            <li>Soigneur</li>
                            <li>Assassin</li>
                            <li>Archer</li>
                        </ul>
                        <!-- Présentation Guerrier-->
                        <h5> <img src="./assets/images/icon_classe/guerrier.jpg" alt=""> Guerrier :</h5>
                        <div class="row">
                            <div class="col">
                                <h6>Statistique :</h6>
                                <p>
                                    <img src="./assets/images/icon_stat/hp.png" title="HP"> 800
                                </p>
                                <p>
                                    <img src="./assets/images/icon_stat/def.png" title="DEF"> 200
                                </p>
                                <p>
                                    <img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 100
                                </p>
                            </div>
                            <div class="col">
                                <h6>Passif :</h6>
                                <p><img src="./assets/images/icon_stat/passif_classe/passif_guerrier.jpg" alt="">Peau de fer : Réduit les dégats subit de 10%.</p>
                            </div>
                        </div>
                        <!-- /Présentation Guerrier-->
                        <!-- Présentation Soigneur-->
                        <h5> <img src="./assets/images/icon_classe/priest.jpg" alt=""> Soigneur :</h5>
                        <div class="row">
                            <div class="col">
                                <h6>Statistique :</h6>
                                <p>
                                    <img src="./assets/images/icon_stat/hp.png" title="HP"> 600
                                </p>
                                <p>
                                    <img src="./assets/images/icon_stat/def.png" title="DEF"> 50
                                </p>
                                <p>
                                    <img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 50
                                </p>
                            </div>
                            <div class="col">
                                <h6>Passif :</h6>
                                <p><img src="./assets/images/icon_stat/passif_classe/passif_soigneur.jpg" alt="">Dernier voeu : Lorsque tu meurs, effectue un dernier voeu et soigne la totalité des points de vie de tes alliés.</p>
                            </div>
                        </div>
                        <!-- /Présentation Soigneur-->
                        <!-- Présentation Assassin-->
                        <h5> <img src="./assets/images/icon_classe/assassin.jpg" alt=""> Assassin :</h5>
                        <div class="row">
                            <div class="col">
                                <h6>Statistique :</h6>
                                <p>
                                    <img src="./assets/images/icon_stat/hp.png" title="HP"> 600
                                </p>
                                <p>
                                    <img src="./assets/images/icon_stat/def.png" title="DEF"> 50
                                </p>
                                <p>
                                    <img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 300
                                </p>
                            </div>
                            <div class="col">
                                <h6>Passif :</h6>
                                <p><img src="./assets/images/icon_stat/passif_classe/passif_assassin.jpg" alt="">Coup bas : A chaque attaque, si tu effectue un coup critique, les dégats de l'attaque augmente de 200%.</p>
                            </div>
                        </div>
                        <!-- /Présentation Assassin-->
                        <!-- Présentation Archer-->
                        <h5> <img src="./assets/images/icon_classe/archer.jpg" alt=""> Archer :</h5>
                        <div class="row">
                            <div class="col">
                                <h6>Statistique :</h6>
                                <p>
                                    <img src="./assets/images/icon_stat/hp.png" title="HP"> 700
                                </p>
                                <p>
                                    <img src="./assets/images/icon_stat/def.png" title="DEF"> 50
                                </p>
                                <p>
                                    <img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 200
                                </p>
                            </div>
                            <div class="col">
                                <h6>Passif :</h6>
                                <p> <img src="./assets/images/icon_stat/passif_classe/passif_archer.jpg" alt=""> Œil du faucon : A chaque attaque reçu, esquive cette dernière avec une chance de 40%.</p>
                            </div>
                        </div>
                        <!-- /Présentation Archer-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /FAQ : Les Classes -->
    <!-- FAQ : Les monstres -->
    <div class="row">
        <div class="accordion" id="faqThree">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Les monstres
              </button>
                    </h5>
                </div>

                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#faqThree">
                    <div class="card-body">
                        <p>Il existe 4 monstres et 1 boss.</p>
                        <p>Ces derniers seront invoqués de façon aléatoire. Il est donc important de réaliser une équipe la plus homgène possible.</p>
                        <legend>Tableau récapitulatif des monstres.</legend>
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"><img src="./assets/images/icon_stat/hp.png" title="HP"></th>
                                    <th scope="col"><img src="./assets/images/icon_stat/def.png" title="DEF"></th>
                                    <th scope="col"><img src="./assets/images/icon_stat/atk.jpg" title="ATK"></th>
                                    <th scope="col">Chance d'invocation <small>(%)</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"><img src="./assets/images/icon_monstre/monstre1.jpg" alt=""> Monstre 1</th>
                                    <td>700</td>
                                    <td>80</td>
                                    <td>100</td>
                                    <td>23</td>
                                </tr>
                                <tr>
                                    <th scope="row"><img src="./assets/images/icon_monstre/monstre2.jpg" alt=""> Monstre 2</th>
                                    <td>800</td>
                                    <td>100</td>
                                    <td>150</td>
                                    <td>23</td>
                                </tr>
                                <tr>
                                    <th scope="row"><img src="./assets/images/icon_monstre/monstre3.jpg" alt=""> Monstre 3</th>
                                    <td>800</td>
                                    <td>70</td>
                                    <td>150</td>
                                    <td>23</td>
                                </tr>
                                <tr>
                                    <th scope="row"><img src="./assets/images/icon_monstre/monstre4.jpg" alt=""> Monstre 4</th>
                                    <td>500</td>
                                    <td>50</td>
                                    <td>200</td>
                                    <td>23</td>
                                </tr>
                                <tr>
                                    <th scope="row"><img src="./assets/images/icon_boss/boss.jpg" alt=""> Boss</th>
                                    <td>1200</td>
                                    <td>200</td>
                                    <td>300</td>
                                    <td>7</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /FAQ : Les monstres -->
    <!-- FAQ : Les armes -->
    <div class="row">
        <div class="accordion" id="faqFour">
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Les armes
              </button>
                    </h5>
                </div>

                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#faqFour">
                    <div class="card-body">
                        <p>Vous avez le choix entre les armes suivante : </p>
                        <ul>
                            <li>Epee</li>
                            <li>Masse</li>
                            <li>Dague</li>
                            <li>Arc (réservé à l'Archer)</li>
                        </ul>
                        <p>Pour le moment, les armes n'apporte aucun bonus au Héro.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /FAQ : Les armes -->
    <hr>
</div>