<!-- Debut du component -->
<div class="container">
    <h2>Information Mise à jour</h2>
    <div class="row">
        <p>Vous trouverez ici, les informations de mise à jour concernant Storwind Battle.</p>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">V1.0.0</h5>
                <p class="card-text">Version de base de StorWind Battle.</p>
            </div>
        </div>
    </div>
    <hr>
</div>
<!-- Fin du component -->