<div class="container">
    <h1>Synthèse de la partie</h1>
    <!-- Les Héros -->
    <app-synthese-hero></app-synthese-hero>
    <!-- /Les Héros -->
    <h2><img src="./assets/images/orcVShumain.jpg" title="versus"></h2>
    <!-- Les Monstres -->
    <app-synthese-monstre></app-synthese-monstre>
    <!-- /Les Monstres -->
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"><button type="button" class="btn btn-primary">Lancer combat</button></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <!-- Fin Component-->
    <hr>
</div>