<div class="container">
    <h1>Synthèse de la partie</h1>
    <!-- Les Héros -->
    <div class="row">
        <div class="col">
            <h5>Personnage 1 <img src="./assets/images/icon_classe/guerrier.jpg" alt=""></h5>
            <p><img src="./assets/images/icon_stat/hp.png" title="HP"> 500</p>
            <p><img src="./assets/images/icon_stat/def.png" title="DEF"> 100</p>
            <p><img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 150</p>
        </div>
        <div class="col">
            <h5>Personnage 2 <img src="./assets/images/icon_classe/assassin.jpg" alt=""></h5>
            <p><img src="./assets/images/icon_stat/hp.png" title="HP"> 500</p>
            <p><img src="./assets/images/icon_stat/def.png" title="DEF"> 100</p>
            <p><img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 150</p>
        </div>
        <div class="col">
            <h5>Personnage 3 <img src="./assets/images/icon_classe/archer.jpg" alt=""></h5>
            <p><img src="./assets/images/icon_stat/hp.png" title="HP"> 500</p>
            <p><img src="./assets/images/icon_stat/def.png" title="DEF"> 100</p>
            <p><img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 150</p>
        </div>
        <div class="col">
            <h5>Personnage 4 <img src="./assets/images/icon_classe/priest.jpg" alt=""></h5>
            <p><img src="./assets/images/icon_stat/hp.png" title="HP"> 500</p>
            <p><img src="./assets/images/icon_stat/def.png" title="DEF"> 100</p>
            <p><img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 150</p>
        </div>
        <div class="col">
            <h5>Personnage 5 <img src="./assets/images/icon_classe/guerrier.jpg" alt=""></h5>
            <p><img src="./assets/images/icon_stat/hp.png" title="HP"> 500</p>
            <p><img src="./assets/images/icon_stat/def.png" title="DEF"> 100</p>
            <p><img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 150</p>
        </div>
    </div>
    <!-- /Les Héros -->
    <h2><img src="./assets/images/orcVShumain.jpg" title="versus"></h2>
    <!-- Les Monstres -->
    <div class="row">
        <div class="col">
            <h5>Monstre 1 <img src="./assets/images/icon_monstre/monstre2.jpg" alt=""></h5>
            <p><img src="./assets/images/icon_stat/hp.png" title="HP"> 500</p>
            <p><img src="./assets/images/icon_stat/def.png" title="DEF"> 100</p>
            <p><img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 150</p>
        </div>
        <div class="col">
            <h5>Monstre 2<img src="./assets/images/icon_monstre/monstre3.jpg" alt=""></h5>
            <p><img src="./assets/images/icon_stat/hp.png" title="HP"> 500</p>
            <p><img src="./assets/images/icon_stat/def.png" title="DEF"> 100</p>
            <p><img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 150</p>
        </div>
        <div class="col">
            <h5>Monstre 3<img src="./assets/images/icon_monstre/monstre4.jpg" alt=""></h5>
            <p><img src="./assets/images/icon_stat/hp.png" title="HP"> 500</p>
            <p><img src="./assets/images/icon_stat/def.png" title="DEF"> 100</p>
            <p><img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 150</p>
        </div>
        <div class="col">
            <h5>Monstre 4<img src="./assets/images/icon_monstre/monstre5.jpg" alt=""></h5>
            <p><img src="./assets/images/icon_stat/hp.png" title="HP"> 500</p>
            <p><img src="./assets/images/icon_stat/def.png" title="DEF"> 100</p>
            <p><img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 150</p>
        </div>
        <div class="col">
            <h5>Boss <img src="./assets/images/icon_boss/boss.jpg" alt=""></h5>
            <p><img src="./assets/images/icon_stat/hp.png" title="HP"> 500</p>
            <p><img src="./assets/images/icon_stat/def.png" title="DEF"> 100</p>
            <p><img src="./assets/images/icon_stat/atk.jpg" title="ATK"> 150</p>
        </div>
    </div>
    <!-- /Les Monstres -->
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"><button type="button" class="btn btn-primary">Lancer combat</button></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <!-- Fin Component-->
    <hr>
</div>