<div class="container">
    <div class="row">
        <div class="col">
            <p>Bienvenue dans StormWind Battle, constituer votre équipe pour vaincre des monstres épiques du clan HellScream.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Je vous conseil fortement de prendre le temps de lire notre FAQ, pour comprendre les atouts de chaque classe.</p>
            <p>Je vous souhaite de prendre du plaisir avec StormWind Battle ;-). </p>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <button type="button" class="btn btn-primary" [routerLink]="['/new-Partie']" routerLinkActive="router-link-active">Démarrer une partie</button>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <hr>
</div>